<tr> 
  <td><%= user.name %></td>
  <td><%= user.full_name %></td>
  	<td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
  	<td><%= link_to "Delete User", admin_user_path(user),
  		method: :delete,
  		data: {confirm: "Are you sure?"} %></td>
</tr>