<h1>Listing posts</h1>
 <%= link_to 'New post', new_post_path %>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>