<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
	          <div class="panel-heading">
	            <h3 class="panel-title">Add your article</h3>
	          </div>
	          <div class="panel-body">
				<%= form_with(model: @article, local: true) do |form| %>

		           <div class="form-group">
				  		<%= form.text_field :title, class: "form-control", placeholder: "Write Title" %>
			      	</div>
			      	<div class="form-group">
				  		<%= form.text_area :text, class: "form-control", placeholder: "Write Content" %>
			      	</div>
			      	<%= form.submit  %>
	              	<div class="pull-right">
		                <div class="btn-group">
		                  <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>
		                  <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>
		                  <button type="button" class="btn btn-default"><i class="fa fa-file-video-o"></i> Video</button>
		                </div>
	              	</div>
              	<% end %>
	          </div>
	        </div>
    	</div>



    
  <div class="row">
      <%= link_to "Back", articles_path(current_user) %>
  </div>
</div>

