#What {
	width: 100%;
	margin:0;
	padding: 50px 20px;
	background-color:#EEEEEE;
	background-size:auto;
	h2{
		font-weight: bold;
		color:#00bfbf;
	}
}
#introus{
	p{
		font-size: 15px;
		padding: 20px 150px; 
	}
}
#iprofit {
	padding-bottom: 10px;
	h1{
		font-size: 16px;
		font-weight: bold;
	}
}
#develop{
	padding-top: 30px;
	padding-bottom: 50px;
	.row{
		padding-bottom: 30px;
	}
	.numblue{
		padding-left:  15px;
		padding-top: 30px;
		color:lightblue;
	}
}
h4{
	font-weight: bold;
}
header{
	background-color: #00bfbf;
}
.headingab{
	background-color: #00bfbf;
	padding: 10px;
}
.post-avatar img{
	width: 60px;
	margin-right: 5px;
}
.bubble{
	min-height: 65px;
	margin: 15px;
	padding: 15px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #ccc;
	box-shadow: 5px 10px #888888;
}
.nearf {
	padding-left: 20px;
	p{
		font-size: 10px;
	}
}
.afontsm{
	a{
		font-size:10px;
		margin: 0 -10px;
	}
}
@media (max-width: 1200px){
	
}
@media (max-width: 991px){
	header ul{
		font-size: 15px;
	}
	.headingab h1{
		font-size: 2.0rem;
	}
	#What h2{
		font-size: 1.5rem;
	}
	.bubble p{
		font-size: 13px;
	}
}
@media (min-width: 768px) and (max-width: 990px){

}
@media (max-width: 768px){

}

@media (max-width: 575px){
	.post-avatar img{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}
	header ul{
		font-size: 13px;
	}
	.headingab h1{
		font-size: 1.5rem;
	}
	#What h2{
		font-size: 1rem;
	}
	.bubble p{
		font-size: 10px;
	}
}