<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
	<div class="row">
		<div class="col-md-2">
			<strong><%= current_user.full_name + ":" %></strong>
		</div>
		<div class="col-md-4">
		    <%= form.text_area :body %>
		</div>
	</div>
   	<p><%= form.submit :Comment %></p>
<% end %>