// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.outset {
	border-style: outset; 
	border-radius: 15px;
	padding: 10px;
}