<%= form_with scope: :post, url: users_path ,local: true do |form| %>
  <p>
    <%= form.label :Username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>