<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<% Post.all.each do |post| %>
	<%= render partial: 'posts/post', locals: {post: post} %>
<% end %>