<div class="container">
	<h1><%= @user.name %>'s Blog</h1>
	<%= link_to "Add new article", new_article_path(@current_user)%>

	<table class="table">
		<h1>My Articles</h1>
	  <thead>
	    <th>Title</th>
	    <th>Content</th>
	    <th></th>
	  </thead>
	  <tbody>
		<%= render "articles/list_article", articles: @articles %>
	  </tbody>
	</table>

	<p><%= will_paginate @articles %></p>
	
</div>

